<main role="main" class="">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron py-5 bg-light">
      <div class="container py-5">
        <h1 class="display-2">Welcome to SecuScan</h1>
        <p>SecuScan is a powerful tool designed to secure source code by identifying vulnerabilities, detecting embedded secrets, and analyzing dependencies. It uses advanced technologies to pinpoint sensitive data and vulnerabilities within the code, providing alerts for swift remediation. Furthermore, it evaluates dependencies to detect outdated or risky libraries. By integrating SecuScan, developers can strengthen their codebase, reduce risk of data breaches, and maintain robust software security in a rapidly evolving digital world.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>

    <div class="container py-5">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>